ErrorDocument 404 https://tanishqsundhan.com/error
ErrorDocument /404/ https://tanishqsundhan.com/error
ErrorDocument 500 https://tanishqsundhan.com/error
ErrorDocument /500/ https://tanishqsundhan.com/error